In [129]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [130]:
df = pd.read_csv("bouts_out_new.csv")

In [131]:
rename_columns = {
    'age_A': 'edad_a', 'age_B': 'edad_b', 'height_A': 'altura_a', 
    'height_B': 'altura_b', 'reach_A': 'alcance_mano_a',
    'reach_B': 'alcance_mano_b', 'stance_A': 'posicion_a', 'stance_B': 'posicion_b',
    'weight_A': 'peso_a', 'weight_B': 'peso_b', 'won_A': 'ganadas_a', 'won_B': 'ganadas_b',
       'lost_A': 'perdidas_a', 'lost_B': 'perdidas_b', 'drawn_A': 'empatadas_a', 'drawn_B':'empatadas_b',
    'kos_A': 'kos_a', 'kos_B': 'kos_b', 'result': 'resultado', 'decision': 'decision',
    'judge1_A': 'juez1_a', 'judge1_B': 'juez1_b', 'judge2_A': 'juez2_a', 'judge2_B': 'juez2_b', 
    'judge3_A': 'juez3_a', 'judge3_B': 'juez3_b'
}
df.rename(columns=rename_columns, inplace=True)

In [132]:
df.shape

(387427, 26)

In [133]:
df.isnull().sum()

edad_a             34539
edad_b            129492
altura_a          138181
altura_b          252787
alcance_mano_a    275085
alcance_mano_b    349554
posicion_a        156418
posicion_b        156418
peso_a            251854
peso_b            257069
ganadas_a              0
ganadas_b              0
perdidas_a             0
perdidas_b             0
empatadas_a            0
empatadas_b            0
kos_a                  0
kos_b                 79
resultado              0
decision               0
juez1_a           335179
juez1_b           335367
juez2_a           317056
juez2_b           317395
juez3_a           326196
juez3_b           326404
dtype: int64

## Nulos en edad

Vamos a eliminar todas las columnas que tengan edad nula

In [134]:
df = df.drop(df[(df['edad_a'].isnull()) | (df['edad_b'].isnull())].index)

In [135]:
df.shape

(241695, 26)

In [136]:
df.isnull().sum()

edad_a                 0
edad_b                 0
altura_a           71013
altura_b          119218
alcance_mano_a    161321
alcance_mano_b    206492
posicion_a         74626
posicion_b         74626
peso_a            147503
peso_b            149343
ganadas_a              0
ganadas_b              0
perdidas_a             0
perdidas_b             0
empatadas_a            0
empatadas_b            0
kos_a                  0
kos_b                  0
resultado              0
decision               0
juez1_a           200088
juez1_b           200271
juez2_a           184720
juez2_b           185022
juez3_a           192636
juez3_b           192827
dtype: int64

In [145]:
df = df.drop(df[(df['altura_a'].isnull()) | (df['altura_b'].isnull())].index)

In [147]:
df.isnull().sum()

edad_a                0
edad_b                0
altura_a              0
altura_b              0
alcance_mano_a    50051
alcance_mano_b    68792
posicion_a        19487
posicion_b        19487
peso_a            55254
peso_b            55548
ganadas_a             0
ganadas_b             0
perdidas_a            0
perdidas_b            0
empatadas_a           0
empatadas_b           0
kos_a                 0
kos_b                 0
resultado             0
decision              0
juez1_a           77861
juez1_b           77875
juez2_a           69629
juez2_b           69678
juez3_a           73689
juez3_b           73737
dtype: int64

In [149]:
df = df.drop(["alcance_mano_a", "alcance_mano_b"], axis=1)

In [152]:
df = df.drop(["decision", "juez1_a", "juez1_b", "juez2_a", "juez2_b", "juez3_a", "juez3_b"], axis=1)

In [154]:
df.isnull().sum()

edad_a             0
edad_b             0
altura_a           0
altura_b           0
posicion_a     19487
posicion_b     19487
peso_a         55254
peso_b         55548
ganadas_a          0
ganadas_b          0
perdidas_a         0
perdidas_b         0
empatadas_a        0
empatadas_b        0
kos_a              0
kos_b              0
resultado          0
dtype: int64

In [155]:
df.to_csv("hola.csv")